table{
    border: 2px gray solid;
    border-collapse: collapse;
    width: 30%;
    font-family: sans-serif;
    font-weight: 600;
}

td{
    border: 1px gray solid;
}

th{
    border: 1px gray solid;
    text-align: center;
    height: 25px;
}

.name{
    padding-bottom: 7%;
    padding-left: 1%;
}

.time{
    padding-left: 1%;
}

.mark{
    text-align: center;
}