div{
    display: flex;
}

ul{
    list-style-type: none;
    font-family: sans-serif;
}

h3{
    margin-left: 5%;
    margin-top: 3%;
}

p{
    margin-left: 5%;
    margin-right: 5%;
}

li{
    margin-bottom: 5%;
    font-size: large;
}

li{
    width: 350px;
    background-color: rgb(238, 238, 238);
}

ul:nth-of-type(1) li:nth-child(1) {
    height: 300px;
}

ul:nth-of-type(1) li:nth-child(2) {
    height: 350px;
}

ul:nth-of-type(1) li:nth-child(3) {
    height: 330px;
}

ul:nth-of-type(2) li:nth-child(1) {
    height: 200px;
}

ul:nth-of-type(2) li:nth-child(2) {
    height: 450px;
}

ul:nth-of-type(2) li:nth-child(3) {
    height: 370px;
}

ul:nth-of-type(3) li:nth-child(1) {
    height: 250px;
}

ul:nth-of-type(3) li:nth-child(2) {
    height: 600px;
}

ul:nth-of-type(3) li:nth-child(3) {
    height: 300px;
}