td, th {
    border: solid;  
    padding: 5px;  
}

table {
    /* border-spacing: 0px; */
    border-collapse: collapse;
    width: 500px;
    height: 300px;    
}

.first {
    /* width: 20px; */
    background-color: orange;   
    text-align: right;
    vertical-align: bottom;     
}
thead {
    background-color: cyan;
}
tbody {
    background-color: beige;
}
tfoot {
    background-color: yellowgreen;
}