*{
    margin: 0%;
}

.background{
    background-color: rgb(255, 239, 241);
    padding: 2% 0% 10% 2%;
    margin: 0% 50% 0% 0%;
    font-family: sans-serif;
}

.header{
    font-weight: bolder;
    font-size: large;
    padding-bottom: 2%;
}

dd{
    padding-bottom: 2%;
    font-style: italic;
    padding-top: 2%;
}

ol{
    padding-left: 5%;
}

/* Серый текст */
.text1{
    color: gray;
}

/* Синий текст */
.text2{
    color: blue;
    display: inline-block;
}