.background{
    background-color: gray;
    color: white;
    margin-right: 85%;
}

.background2:hover{
    background-color: rgb(78, 78, 78);
}

.text{
    padding-left: 1%;
    padding-top: 1.5%;
    display: inline-block;
    position: absolute;
}

img{
    padding-left: 3%;
}